-- =============================================
-- Полный скрипт создания БД WareHouseTZ
-- Версия: 1.0
-- Дата: 08.12.2025
-- =============================================

-- 1. СОЗДАНИЕ БАЗЫ ДАННЫХ
USE [master]
GO

-- Удаляем БД если существует
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'WareHouseTZ')
BEGIN
    ALTER DATABASE [WareHouseTZ] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [WareHouseTZ];
    PRINT 'Удалена существующая БД WareHouseTZ';
END
GO

-- Создаем новую БД
PRINT 'Создание БД WareHouseTZ...';
CREATE DATABASE [WareHouseTZ]
 ON  PRIMARY 
( NAME = N'WareHouseTZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WareHouseTZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WareHouseTZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WareHouseTZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

-- Минимальные настройки БД
ALTER DATABASE [WareHouseTZ] SET COMPATIBILITY_LEVEL = 160;
ALTER DATABASE [WareHouseTZ] SET RECOVERY SIMPLE;
ALTER DATABASE [WareHouseTZ] SET MULTI_USER;
ALTER DATABASE [WareHouseTZ] SET READ_WRITE;
GO

PRINT 'БД WareHouseTZ создана';
GO

-- 2. ПЕРЕХОДИМ В БД
USE [WareHouseTZ]
GO
PRINT 'Используем БД WareHouseTZ';
GO

-- 3. СОЗДАНИЕ ТАБЛИЦ
-- Таблица Product
PRINT 'Создание таблицы Product...';
CREATE TABLE [dbo].[Product](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [name] [varchar](50) NOT NULL,
    [description] [text] NULL,
    [unit] [varchar](20) NULL,
    [created_at] [date] NOT NULL,
    CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO
PRINT 'Таблица Product создана';

-- Таблица Coming
PRINT 'Создание таблицы Coming...';
CREATE TABLE [dbo].[Coming](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [date] [date] NOT NULL,
    [product_id] [int] NOT NULL,
    [quantity] [decimal](10, 2) NOT NULL,
    [price] [decimal](10, 2) NULL,
    [supplier] [varchar](100) NULL,
    [document] [varchar](50) NULL,
    [productName] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_Coming] PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY];
GO
PRINT 'Таблица Coming создана';

-- Таблица Consumption
PRINT 'Создание таблицы Consumption...';
CREATE TABLE [dbo].[Сonsumption](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [date] [datetime] NOT NULL,
    [product_id] [int] NOT NULL,
    [quantity] [decimal](10, 2) NOT NULL,
    [recipient] [varchar](100) NULL,
    [reason] [varchar](50) NULL,
    [document] [varchar](50) NULL,
    CONSTRAINT [PK_Consumption] PRIMARY KEY CLUSTERED ([id] ASC)
) ON [PRIMARY];
GO
PRINT 'Таблица Consumption создана';

-- 4. ДОБАВЛЕНИЕ ОГРАНИЧЕНИЙ
PRINT 'Добавление внешних ключей...';

-- Внешний ключ для Coming
ALTER TABLE [dbo].[Coming] 
ADD CONSTRAINT [FK_Coming_Product] 
FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE;
GO
PRINT 'FK_Coming_Product создан';

-- Внешний ключ для Consumption
ALTER TABLE [dbo].[Сonsumption] 
ADD CONSTRAINT [FK_Consumption_Product] 
FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE;
GO
PRINT 'FK_Consumption_Product создан';

-- 5. ДОБАВЛЕНИЕ DEFAULT ЗНАЧЕНИЙ
PRINT 'Добавление значений по умолчанию...';
ALTER TABLE [dbo].[Product] 
ADD CONSTRAINT [DF_Product_unit] 
DEFAULT ('шт') FOR [unit];
GO
PRINT 'DF_Product_unit создан';

-- 6. ПРОСТЫЕ ИНДЕКСЫ (ОПЦИОНАЛЬНО)
PRINT 'Создание дополнительных индексов...';

-- Индекс для быстрого поиска продуктов по имени
CREATE NONCLUSTERED INDEX [IX_Product_Name] 
ON [dbo].[Product] ([name] ASC);
GO
PRINT 'Индекс IX_Product_Name создан';

-- Индекс для поиска приходов по дате
CREATE NONCLUSTERED INDEX [IX_Coming_Date] 
ON [dbo].[Coming] ([date] DESC);
GO
PRINT 'Индекс IX_Coming_Date создан';

-- Индекс для поиска расходов по дате
CREATE NONCLUSTERED INDEX [IX_Consumption_Date] 
ON [dbo].[Сonsumption] ([date] DESC);
GO
PRINT 'Индекс IX_Consumption_Date создан';

-- 7. ТЕСТОВЫЕ ДАННЫЕ (ОПЦИОНАЛЬНО)
PRINT 'Добавление тестовых данных...';

-- Добавляем несколько тестовых продуктов
INSERT INTO [dbo].[Product] ([name], [description], [unit], [created_at])
VALUES 
    ('Товар 1', 'Описание товара 1', 'шт', GETDATE()),
    ('Товар 2', 'Описание товара 2', 'кг', GETDATE()),
    ('Товар 3', 'Описание товара 3', 'м', GETDATE());
GO
PRINT 'Добавлено 3 тестовых продукта';

-- Добавляем тестовые приходы
INSERT INTO [dbo].[Coming] ([date], [product_id], [quantity], [price], [supplier], [document], [productName])
VALUES 
    (GETDATE(), 1, 100.00, 150.50, 'Поставщик А', 'Накл-001', 'Товар 1'),
    (GETDATE(), 2, 50.00, 200.00, 'Поставщик Б', 'Накл-002', 'Товар 2');
GO
PRINT 'Добавлено 2 тестовых прихода';

-- Добавляем тестовые расходы
INSERT INTO [dbo].[Сonsumption] ([date], [product_id], [quantity], [recipient], [reason], [document])
VALUES 
    (GETDATE(), 1, 10.00, 'Получатель 1', 'Продажа', 'Расх-001'),
    (GETDATE(), 2, 5.00, 'Получатель 2', 'Списание', 'Расх-002');
GO
PRINT 'Добавлено 2 тестовых расхода';

-- 8. ПРОВЕРКА
PRINT 'Проверка созданных объектов...';

SELECT 
    'Таблицы:' AS [Тип объекта],
    COUNT(*) AS [Количество]
FROM sys.tables
WHERE schema_id = SCHEMA_ID('dbo')
UNION ALL
SELECT 
    'Внешние ключи:' AS [Тип объекта],
    COUNT(*) AS [Количество]
FROM sys.foreign_keys
UNION ALL
SELECT 
    'Индексы:' AS [Тип объекта],
    COUNT(*) AS [Количество]
FROM sys.indexes
WHERE object_id IN (SELECT object_id FROM sys.tables WHERE schema_id = SCHEMA_ID('dbo'))
AND index_id > 0;
GO